.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
}

.hijo2 {
    height: 90vh !important;
    width: 90vw;
    background-color: white;
    color: black;
    position: relative;
    overflow-y: scroll;
    padding: 25px;
    -webkit-box-shadow: inset 0px -37px 24px -23px rgba(0,0,0,0.55);
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}