.stepInformation {
    display: flex;
    flex-flow: column nowrap;
}

.stepInformation .information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 5px;
}

.stepInformation .information section {

    border-radius: 5px;
    width: 49%;
}

.stepInformation .information section article {
    display: block;
    width:100%;

}

article textarea {
    display: block;
    width:100%;
    height: 50px;
    border: 1px solid #efeff3;
    border-radius: 5px;
}

article label {
    margin: 10px 0;
    position: unset;
}

.archivosCargados {
    box-sizing: border-box;
    margin: 6px 0px 15px 0px;
}

.archivosCargados p {
    margin: 0;
}

.archivosCargados span {
    padding: 10px 20px 10px 10px;
    margin: 0 10px 7px 0;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    position: relative;
    display: inline-block;
}

.archivosCargados span button {
    position: absolute;
    font-size: 10px;
    right: 12px;
    top: 14px;
}


.archivosCargados span p {
    margin: 0;
}

.nombreArchivo {
    display: inline-block !important;
}

.textarea {
    min-height: 150px;
}

.uploadAudioMon select {
    display: block;
    width: 100%;
}

.uploadAudioMon input[type='file'] {
    display: block;
    margin: 0 auto;
}

.uploadAudioMon input[type='text'] {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.uploadAudioMon button, .buttonupload  {
    background-color: #03a9f4;
    color: #fff;
    display: block;
    width: 25%;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.buttonupload {
    width: 100%;
}

.formSubirArchivo {
    width: 25%;
}

.coachingsAudios select {
    display: block;
    width: 25%;
}

.coachingsAudios label {
    display: block;
    font-size: 14px;
    color: #000;
}


.titulo {
    font-weight: bold;
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif
}

#imp {
    display: block;
}

.titulo-seccion {
    font-size: 18px;
}

.btn {
    background: #03a9f4;
}

article.coachingsAudios {
    margin-top: 20px;
}

.seccion {
    padding: 20px;
    border-radius: 5px;
    background: #ffffff2e;
    box-shadow: 0 0 6px 1px #9596981c;
}