
label {

}

label.main {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

label.forInputs {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 13px;
    color: #000;
}


.PrivateSwitchBase-root-1 {
    padding:3px !important;
}

.MuiIconButton-label > svg {
    color: #03a9f4;
}

.labelsInputs {
    padding: 5px;
    margin: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

textarea {

}

select {

}

input[type='radio'] {

}

input[type='checkbox'] {

}