
label {

}

label.main {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

label.forInputs {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 13px;
    color: #000;
}

input[type='text'] {
    display: block;
    width: 100%;
    margin: 15px 0px 15px 0px;
    padding: 5px 10px;
    border: 1px solid #efeff3;
    border-radius: 5px;
}

.labelsInputs {
    padding: 10px;
    margin: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}

textarea {

}

select {

}

input[type='radio'] {

}

input[type='checkbox'] {

}