section.sectionTitles {
    display: flex;
    flex-flow: column nowrap;
}

.sectionTitles p{
    margin: 0
}

.sectionTitles article {
    height: unset;
    min-height: unset;
    width: 300px;
    text-align: center;
    padding: 20px;
}

.resultados .question {
    width: 100%;
}

.resultados .question span {
    display: block;
    margin: 20px 0;
}

.resultados .question span h6 {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.expertQuestion {
    background-color: #9de89d;
}

.NotExpertQuestion {
    background-color: #faa;

}