.buscadorMon {
    margin-top: 20px;
}

.buscadorMon article {
    padding: 15px;
}

.resultados {
    margin-top: 20px;
}

.monitorInfo {
}

.monitorInfo small {
    display: block;
}

.monitorData {
}

.monitorData article {
    width: 100%;
}

.monitorData article span {
    display: block;
}

.monFiles .files {
    display: flex;
    flex-flow: row wrap;
}

.monFiles span {
    padding: 10px 20px;
    border-radius: 5px;
    background: #61dca3;
    color: #000;
    margin: 10px 5px 0 0;
}

.monFiles span p {
    margin: 0;
    display: inline-block;
}

.monFiles span button {
    margin-left: 5px;
    background: #1e2941;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}   

.programasSeleccionados {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.programasSeleccionados span {
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    position: relative;
    border-radius: 5px;
    background: #515961;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
}

.programasSeleccionados span button {
    position: absolute;
    top: 11px;
    right: 7px;
    color: white;
    font-size: 10px;

}

.logEdicion {
}
.logEdicion article {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.logEdicion article span {
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    background: #61dca3;
}

.botonera-exportar {
    margin: 10px 0;
}

.botonera-exportar button {
    margin-right: 10px;
}

.buttonsMons {
    padding-top: 0;
    padding-bottom: 0;
}

.buttonsMons button {
    display: block;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #03a9f4;
    color: #fff;
}
