.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
}

.hijo {
    width: 35%;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}

.form-control-modal {
    margin: 15px;
    width: -webkit-fill-available;
}

.hijo > table {
    margin: 15px;
    width: -webkit-fill-available;
}