.sliderContainer{
    width: 90%;
    margin: 20px auto 0px;
}

.guardar{
    background: #5677fc;
}
.cerrar{
    background: #dc3545;
}

.MuiSlider-track{
    height: 5px!important;
}

.MuiSlider-marked{
    height: 15px;
    cursor: text;
}
/* .jss14{
    color: black!important;
} */

.MuiSlider-rail {
    height: 4px!important;
}

.MuiSlider-thumb{
    width: 15px!important;
    height: 15px!important;
}
.MuiSlider-mark{
    height: 5px!important;
    background-color: #000!important;
}
.MuiSlider-markActive{
    background-color: currentColor!important;
}
.MuiSlider-root{
    padding: 40px 0!important;
}
/* .MuiSlider-valueLabel{
    background-color: yellow;
}
.PrivateValueLabel-circle{
    background-color: turquoise;
}
.PrivateValueLabel-label-9, .PrivateValueLabel-circle-19, .PrivateValueLabel-circle-13,.PrivateValueLabel-circle-14{
    color: black!important;
}
.PrivateValueLabel-circle-8, .PrivateValueLabel-circle-18, .PrivateValueLabel-circle-13, .PrivateValueLabel-label-14{
    background-color: white!important;
} */