/* @import url(https://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);

.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.45s ease-out 0;
position: fixed;
top: 20px;
left: 20px;
z-index: 1;
cursor: pointer;
}

.sidebar {
position: fixed;
top: 0px;
bottom: 0px;
left: -190px;
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.15s ease-out 0;
width: 8rem;
padding: 1.5em;
background: rgb(65, 65, 65); 
z-index: 1000;
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0; 
}

.sidebar li a {
color: #fff;
font-family: 'Poiret One', cursive;
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61); 
}

#slide:checked + .container .sidebar {
left: 0px;
 }

#slide:checked + .container .toggle {
left: 200px;
 }


#slide {
display: none; 
}

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'sans-serif', 'poppins-ExtraLight'; */
  font-family: sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
}


.side__bar_inverse {
  /* background-color: #212121; */
  background-color: #2e3338;
  border-color: #080808;
}

.side__bar {
  /*width: 360px;*/
  /*background-color: #f3f3f3;*/
  position: fixed;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  left: 0;
  z-index: 1;
}

/* 
.side__bar:hover{
  width: 360px;
} */

.side__bar::-webkit-scrollbar {
  width: 0 !important
}

.side__bar_container {
  width: 60px;
  height: 100vh;
  z-index: 999;
}

.parent__menu_holder {
  list-style: none;
}

.parent__menu_holder>li {
  position: relative;
  color: #fff;
  font-size: 27px;
  padding: 9px;
  text-align: center;
  transition: all 0.15s ease-in;
}

.parent__menu_holder>li:hover, .parent__menu_holder>li:hover .child__menu>li, .child__list>li:hover a {
  background-color: #1d1d1d;
}

.parent__menu_holder>li:hover .child__menu {
  display: block;
}

.parent__menu_holder>li:hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #4b9cba;
  top: 0;
  left: 0;
}

.parent__menu_holder>li:hover i {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.child__menu {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #333;
  width: min-content;
  top: 0;
  left: 100%;
}

.child__list {
  list-style: none;
  overflow: auto;
  height: 160px;
  overflow: auto;
}

.child__list>li>a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 12px;
}

.child__menu>li {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 14px 12px;
  font-weight: bold;
  width: 240px;
}

.child__menu>li:hover a {
  background-color: #080808;
}

/*Just For Test*/

div.content {
  background-color: #999;
  width: 100%;
  height: 100vh;
  padding: 120px;
}

/*Test*/

.IconoMenu {
  color: #757575;
}

.showme {
  display: none;

}

.showme > a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.showme > a:hover {
  color: #03a9f4;
}

a:hover {
  color: white;
  text-decoration: none;
}


.nameMenu:hover .showme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #333333;
  height: auto;
  width: auto;
  line-height: 32px;
  text-align: left;
  border-radius: 130px;
  padding: 20px;
  position: fixed;
  transform: translate(51px, -51px);
  -webkit-box-shadow: inset 2px 0px 2px 0px rgba(0,0,0,0.25);
  border-radius: 0px 3px 3px 0px;
}

.IconoMenuDia {
  color: #5d5d5d;
}

.LogoIn {
  border-radius: 0;
  height: 40px;
  width: 40px;
  opacity: 0.3;
  margin: 10px 5px 5px 9px;
}

.hoverMenu {
  color: #ebebeb !important;
}

hr {
  margin-top: 0.45rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(171, 171, 171, 0.1);
}

/* li:hover {
  background: -webkit-linear-gradient(left, rgba(41, 184, 229, 0.13) 0%, rgba(188, 224, 238, 0) 100%);
} */

.active>svg {
  color: white;
}

.activeParent>svg {
  color: white;
}

.nameMenu {
  font-size: 9px !important;
}

.version {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 13px;
  font-size: 10px;
}

.BtnInProgramas {
  display: none;
}

@media screen and (max-width: 700px) {
  .side__bar_container {
    width: 100vw;
    height: 57px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .parent__menu_holder {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .parent__menu_holder>li {
    position: relative;
    color: #fff;
    font-size: 27px;
    display: flex;
    width: 16vw;
    flex-direction: column;
    padding: 9px;
    text-align: center;
    transition: all 0.15s ease-in;
  }
  .parent__menu_holder>li:hover::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #4b9cba;
    top: 0;
    left: 0;
  }
  .uploadNomina {
    display: none !important;
  }
  .section-content {
    padding-top: 53px;
    padding: 0px !important;
    margin: 0 !important;
    height: 90%;
  }
  .BtnInProgramas {
    width: 100vw;
    height: 48px;
    position: fixed;
    color: white;
    bottom: 57px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
  }
  .BtnInProgramas>button>a {
    color: #747474;
  }
  .active>a {
    color: white !important;
  }
  .activeParent>a {
    color: white !important;
  }
  .BtnInProgramas>button:hover {
    color: white;
  }
  .BtnInProgramas>hr {
    height: 71%;
    color: white;
    width: 1px;
    background-color: #747474;
  }
  .side__bar {
    z-index: 2;
  }

  .headerSection {
    color: white;
    background-color: #495057;
    border-color: #495057;
    height: 50px;
    border-radius: 3px;
    display: flex;
    position: static;
    align-items: center;
    padding: 15px;
  }
  
}

.table-users>h4 {
  color: #6d6d6d;
  width: 100%;
  /* text-align: right; */
  border-bottom: 1px solid gainsboro;
  padding: 8px;
  /* border-radius: 5px; */
  /* -webkit-box-shadow: 0px 7px 13px -16px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
}

.svgAddButton {
  font-size: 29px;
  padding: 5px;
  height: 31px;
  width: 31px;
  /* margin-bottom: 3px; */
  border-radius: 4px;
  color: white;

}



.morph {
  border-radius: 3px;
  margin-right: 1px;

  color: white;
  padding: 2px;
  transition: 0.1s;
  background-color: #03a9f4;
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgb(22 170 255 / 33%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);

  
}

.morph2 {
  border-radius: 3px;
  margin-right: 1px;
  /* margin-bottom: 3px; */
  color: white;
  padding: 2px;
  transition: 0.1s;
  background-color: #495057;
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgb(158 158 158 / 33%), 0 0.0625rem 0.125rem rgb(78 78 78 / 50%);
}



.morph:hover {
  /* box-shadow: 0px 0px 6px 2px #ffffffb0, 5px 5px 8px 0px rgba(0, 0, 0, 0.06), 1px 1px 5px 0px rgba(2, 3, 0, 0.20); */
  background-color: #039be5;

}

.etiquetas {
  display: flex;
  margin-bottom: 20px;
}


.etiqueta {
  display: flex;
  padding: 10px 0px 10px 5px;
  height: 43px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.etiqueta > p {
  margin: 0 5px 0 5px
}

.etiqueta > button {
  margin: 0 5px 0 5px;
  color: #404040;
}

.marginArrow {
  margin-left: 21px;
}

.ArrowRightIcon {
  font-size: 18px !important;
}

.arrowUp {
  color: #6bca77;
  font-size: 2.1em !important;
}

.arrowDown {
  color: #f8848c;
  font-size: 2.1em !important;
}


.verIcon {
  font-size: 1.3em !important;
}

.timerIcon {
  color: orange;
  font-size: 1.7em !important;
}

.CheckIcon {
  color: #6bca77;
}

.PlayArrowRoundedIcon {
  color: #6bca77;
}

.filtroSwitch {
  float: right;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 10px;
}

.filtroSwitch h5 {
  font-size: 1rem;
  margin-right: 12px;
}

.textarea {
  border: 1px solid #efeff3;
  border-radius: 5px;
  padding: 10px;
}

.textarea:focus {
  border: transparent;
}

.audiosReq {
  float: right;
  margin: 0px 24px 0px 0px;
  font-size: 11px;
}

.audiosReq > p {
  text-align: right;
}

.titleInBox {
  margin: 45px 0px 10px 0px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-70 {
  margin-top: 70px;
}

.buttonSiguiente {
  /* float: right; */
  color: white;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  position: fixed;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #03a9f4;
  -webkit-box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 33%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);
}

.contenedorPartituras {
  height: 200px;
}


.buttonStepInformation {
  width: fit-content;
  background-color: #03a9f4;
  color:  white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 33%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);
  z-index: 2000;
}

.buttonGral {
  position: fixed;
  top: -47px;
  -webkit-box-shadow: 6px -4px 33px 24px rgba(0,0,0,0.35);
  font-size: 40px;
  font-weight: 300;
  border: 1px solid #ffffff69;
  border-radius: 50%;
  color: white;
  width: 115px;
  height: 113px;
  padding: 41px 38px 22px 2px;
  right: -51px;
  color: white;
}

.flexContent {
  display: flex;
}

.flexContentEvenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.inputGuardar {
  width: fit-content;
  background-color: #03a9f4;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  float: right;
  border: none;
  right: 20px;
  position: absolute;
  bottom: 20px;
  -webkit-box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 33%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);
  z-index: 2000;
}

.descargar > svg {
  font-size: 18px;
  margin-right: 3px;
}

.descargar:hover{
  color: white !important;
}

.descargar:hover > svg {
  color: white;
}

.descargar {
  color: #6d6d6d !important;
}

.mainButtons > button {
  font-size: 11px;
} 

.mainButtons > .form-control {
  margin-top: 10px;
}

.tableIconstableIconsPerfilamiento {
  display: flex;
  justify-content: space-between;
} 
 
.tableIconstableIconsFormularios {
  display: flex;
  justify-content: space-between;
} 

.btnClose {
  background-color: white;
  color: black;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.10);
  padding: 13px;
  width: 50px;
  position: absolute;
  top: 96px;
  right: 24.3%;
  font-size: 17px;
  transition: all 0.15s ease-in-out;
} 

.btnClose:hover {
  background-color: #2e3338;
  color: white;
}

.btnCloseModal {
  background-color: white;
  color: black;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.10);
  padding: 13px;
  width: 50px;
  position: absolute;
  top: 50px;
  right: 22%;
  font-size: 17px;
} 
 
.btnCloseModalDos {
  position: absolute; 
  top: 6px;
  right: 16px;
  font-size: 19px;
}

.btnCloseModalTres {
  position: absolute;
  right: 8px;
  font-size: 19px;
}

.modalPerfilamiento {
  display: flex;
  justify-content: center;
  height: 200px !important;
}

.labelFileInput {
  margin-top: 83px;
}

.longXTable {
  font-weight: 100 !important;
}

.headerBox {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  height: 52px;
  padding: 7px;
}

tr {
  -webkit-transition: all 0.15s ease-in-out;
}


.btn .btn-outline-primary .m-1 {
  background-color: red !important;
}


.btnDefault {
  bottom: 21px;
  height: 38px;
  border-radius: 3px;
  width: 185px;
  padding: 7px;
  font-size: 11px;
  color: #313131;
  border: 1px solid #495057;
  transition: all 0.15s ease-in-out;
}

.btnDefault:hover {
  background-color: #495057;
  border: 1px solid #495057;
  color: white;
}

.btnDefaultLight {
  font-size: 10px;
  font-weight: 500;
  padding: 10px;
}

.containerDefaultBotons {
  display: flex;
  justify-content: space-between;
  width: 600px;
}



.btnDefaultBorder {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;
  width: 100%;
}

.btnDefaultBorderLight {
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;
  width: 100%;
  background-color: #ebecf0;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

.btnDefaultBorderLight:hover {
  background-color: #e4e5e6;
}


.btnDefaultBorder:hover {
  border: 1px solid #888888;
}

.btnEnviarCond {
  margin-bottom: 10px;
  float: right;
  padding: 10px;
}

.flexAlign {
  display: flex;
  align-items: baseline;
}

.pregButton {

}

.pasoAnterior {
  position: fixed;
  bottom: 21px;
  height: 38px;
  border-radius: 5px;
  color: #03a9f4;
  border: 1px solid #03a9f4;
  /* background-color: #ffffffba !important; */
  right: 113px;
}



.quitarTodos {
  color: black;
  padding: 10px;
  float: right;
}

.btnSecundario {
  bottom: 21px;
  height: 38px;
  border-radius: 3px;
  width: 150px;
  padding: 7px;
  font-size: 12px;
  color: #313131  ;
  border: 1px solid #495057;
  transition: all 0.15s ease-in-out; 
}

.btnSecundario:hover {
  background-color: #495057;
  border: 1px solid #495057;
  color: white;
}

.guardarSecundario{
  bottom: 21px;
  height: 38px;
  border-radius: 3px;
  width: 250px;
  padding: 7px;
  font-size: 12px;
  color: #313131  ;
  border: 1px solid #495057;
  transition: all 0.15s ease-in-out;
}

.guardarSecundario:hover {
  background-color: #495057;
  border: 1px solid #495057;
  color: white;
}

.btnTres {
  background: #2e3338 !important;
  border-radius: 5px;
}


.uploadIcon {
  font-size: 4.5em !important;
  color: #03a9f4;

}

.uploadIcon > svg {
  color: #03a9f4;
  
} 


.btnArticle:hover > svg {
  color: white;

}

.btnArticle {
  padding: 10px;
  text-align: center;
  border: 1px solid #03a9f4;
  border-radius: 5px;
  color: #03a9f4;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btnArticle:hover {
  background-color: #03a9f4;
  color: white;
}

.btnArticle:hover {
  border: 1px solid #03a9f4;
}

.btn:hover {
  color: white;
}

.contextoSelect {
  margin-right: 8px;
}


.alert-secondary {
  color: white;
  background-color: #495057;
  border-color: #495057;
}

.selectOrden {
  margin: auto;
}

.addMonitoreo {
  margin-left: 25px;
}

.input-add-spacebetween {
  justify-content: space-between;
} 

.tablaBuscarUsuarios td:last-child {
  text-align: left !important; 
}

.margin-bottom-10 {
  margin-bottom: 10px;
}


.margin-bottom-20 {
  margin-bottom: 20px;
}

.contenedorModal {
  padding: 20px;
}

.defaultBtnModal {
  border: 1px solid;
  padding: 7px;
  border-radius: 5px;
  width: 79px;
  float: right;
  transition: all 0.15s ease-in-out;
}

.defaultBtnModal:hover {
  color: #f8f9fa;
  background-color: #495057;
}

.floatRight {
  float: right;
}


/* DARK MODE */

/* 

body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #e4e4e4;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #272727 !important;
  transition: background-color 1s ease;
}

.form-control {
  background-color: #f9f9f905;
  border-radius: 4px !important;
  margin-right: 8px;
  border-bottom: 1px solid #e4e4e40d;
  color: #969696;
}

tr {
  border-bottom: 1px solid #e4e4e40d;
}

.logoBackground {
  display: flex;
  height: 100vh;
  position: fixed;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: -1;
  opacity: 0.1;
}

.button-change-pass {
  padding: 10px;
  background: #eaebef03;
  border-radius: 5px;
  color: #e7e7e7;
  cursor: pointer;
  border: 1px solid #353535;
  right: 10px;
  font-weight: 500;
  float: right;
  transition: 0.3s;
  min-width: 138px;
}

table tbody tr:hover {
  background-color: #e8e7e70f !important;
}

.estadoActivo {
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background-color: #2cf52c9e!important;
  margin: auto;
}

.celdaBtnHover:hover {
  background-color: #8080800d; 
  cursor: pointer;

.css-yk16xz-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0deg 0% 97% / 8%);
    border-color: hsl(0deg 0% 21%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    padding: 15px;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}


.css-1uccc91-singleValue {
    color: hsl(0deg 0% 52%);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
}

#agregar-uno {
  color: #e7e7e7;
}

.modelo-field {
    margin: 10px 0px 10px 0px;
    border: 1px solid #313131;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff05;
}

.btnDefaultBorderLight {
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
    width: 100%;
    background-color: #dcdcdc26;
    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}

.btnDefaultBorderLight:hover {
    background-color: #e4e5e63b;
}

.containerIn {
    display: flex;
    position: fixed;
    right: 0;
    background-color: #272727;
    font-size: 14px;
    padding: 9px;
    z-index: 1;
    align-items: baseline;
    border-radius: 0px 0px 0px 7px;
    -webkit-box-shadow: -2px -2px 23px 1px #0000004d;
}

.css-1rhbuit-multiValue {
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 2px;
    border: 1px solid #363636;
    min-width: 0;
    box-sizing: border-box;
}

.css-12jo7m5 {
    border-radius: 2px;
    font-size: 85%;
    overflow: hidden;
    padding: 3px;
    padding-left: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

*/

/* FIN DARK MODE */