/* @import url(https://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);

.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.45s ease-out 0;
position: fixed;
top: 20px;
left: 20px;
z-index: 1;
cursor: pointer;
}

.sidebar {
position: fixed;
top: 0px;
bottom: 0px;
left: -190px;
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.15s ease-out 0;
width: 8rem;
padding: 1.5em;
background: rgb(65, 65, 65); 
z-index: 1000;
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0; 
}

.sidebar li a {
color: #fff;
font-family: 'Poiret One', cursive;
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61); 
}

#slide:checked + .container .sidebar {
left: 0px;
 }

#slide:checked + .container .toggle {
left: 200px;
 }


#slide {
display: none; 
}

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.side__bar_inverse {
  background-color: #333;
  border-color: #080808;
}

.side__bar {
  /*width: 360px;*/
  /*background-color: #f3f3f3;*/

  position: fixed;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  left: 0;
  z-index: 1;
}

/* 
.side__bar:hover{
  width: 360px;
} */

.side__bar::-webkit-scrollbar {
  width: 0 !important
}

.side__bar_container {
  width: 60px;
  height: 100vh;
  z-index: 999;
}

.parent__menu_holder {
  list-style: none;
}

.parent__menu_holder>li {
  position: relative;
  color: #fff;
  font-size: 27px;
  padding: 9px;
  text-align: center;
  transition: all 0.15s ease-in;
}

.parent__menu_holder>li:hover, .parent__menu_holder>li:hover .child__menu>li, .child__list>li:hover a {
  background-color: #1d1d1d;
}

.parent__menu_holder>li:hover .child__menu {
  display: block;
}

.parent__menu_holder>li:hover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #4b9cba;
  top: 0;
  left: 0;
}

.parent__menu_holder>li:hover i {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.child__menu {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #333;
  width: min-content;
  top: 0;
  left: 100%;
}

.child__list {
  list-style: none;
  overflow: auto;
  height: 160px;
  overflow: auto;
}

.child__list>li>a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 12px;
}

.child__menu>li {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 14px 12px;
  font-weight: bold;
  width: 240px;
}

.child__menu>li:hover a {
  background-color: #080808;
}

/*Just For Test*/

div.content {
  background-color: #999;
  width: 100%;
  height: 100vh;
  padding: 120px;
}

/*Test*/

.IconoMenu {
  color: #757575;
}

.showme {
  display: none;
}

.nameMenu:hover .showme {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: red;
  width: 100px;
  height: 100px;
  text-align: center;
  position: fixed;
  transform: translate(51px, -51px);
}

.IconoMenuDia {
  color: #5d5d5d;
}

.LogoIn {
  border-radius: 0;
  height: 40px;
  width: 40px;
  opacity: 0.3;
  margin: 10px 5px 5px 9px;
}

.hoverMenu {
  color: #ebebeb !important;
}

hr {
  margin-top: 0.45rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(171, 171, 171, 0.1);
}

/* li:hover {
  background: -webkit-linear-gradient(left, rgba(41, 184, 229, 0.13) 0%, rgba(188, 224, 238, 0) 100%);
} */

.active>svg {
  color: white;
}
.activeParent>svg {
  color: white;
}

.nameMenu {
  font-size: 9px !important;
}

.version {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 13px;
  font-size: 10px;
}

.BtnInProgramas {
  display: none;
}

@media screen and (max-width: 700px) {

  .side__bar_container {
    width: 100vw;
    height: 57px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .parent__menu_holder {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .parent__menu_holder>li {
    position: relative;
    color: #fff;
    font-size: 27px;
    display: flex;
    width: 16vw;
    flex-direction: column;
    padding: 9px;
    text-align: center;
    transition: all 0.15s ease-in;
  }
  .parent__menu_holder>li:hover::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #4b9cba;
    top: 0;
    left: 0;
  }
  .uploadNomina {
    display: none !important;
  }
  .section-content {
    padding-top: 53px;
    padding: 0px !important;
    margin: 0 !important;
  }




  .BtnInProgramas {
    width: 100vw;
    height: 48px;
    position: fixed;
    color: white;
    bottom: 57px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
  }

  .BtnInProgramas > button > a {
    color: #747474;
  }
  
  .active>a {
    color: white !important;
  }
  .activeParent>a {
    color: white !important;
  }


  .BtnInProgramas > button:hover {
    color: white;
  }

  .BtnInProgramas > hr {
    height: 71%;
    color: white;
    width: 1px;
    background-color: #747474;
  }
  .side__bar {
    z-index: 2;
  }
}

.table-users>h4 {
  color: #6d6d6d;
  width: 100%;
  /* text-align: right; */
  border-bottom: 1px solid gainsboro;
  padding: 8px;
  /* border-radius: 5px; */
  /* -webkit-box-shadow: 0px 7px 13px -16px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}

.h4, h4 {
  font-size: 1.2em;
}

.svgAddButton {
  font-size: 29px;
  padding: 5px;
  height: 31px;
  width: 31px;
  margin-bottom: 3px;
  border-radius: 4px;
  color: #5c5c5c;
}

.morph {
  border-radius: 7px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 6px 2px #ffffffb0, 5px 5px 8px 0px rgba(0, 0, 0, 0.06), 1px 2px 2px 0px rgba(0, 0, 0, 0.06);
  transition: 0.1s;
  margin-right: 8px;
}

.morph:hover {
  box-shadow: 0px 0px 6px 2px #ffffffb0, 5px 5px 8px 0px rgba(0, 0, 0, 0.06), 1px 1px 5px 0px rgba(2, 3, 0, 0.20);
}