.section-content {
    /* overflow-y: scroll; */
    height: 80vh;
    padding: 50px;
}

.logoBackground {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Logo2 {
    width: 600px;
    height: 600px;
    opacity: 0.3;
    border-radius: 0;
    
}


.Logo2 {
    animation: rotate 3s infinite;
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;

    }
    @keyframes rotate {
    0%, 50% {
    /* transform: rotate(-0deg); */
    }
    0% {
    /* transform: rotate(-10deg); */
    opacity: 0.5;
    }
    }

.welcome-message {
    text-align: center;
}

.containerIn {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding: 9px;
    border: none;
    float: right;
 
}

.containerIn:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.iconsUser {
    margin: 0 10px;
}