.section-content {
    /* overflow-y: scroll; */
    /* height: 80vh; */
    padding: 50px;
    /* width: 100%; */

}

.logoBackground {
    display: flex;
    height: 100vh;
    position: fixed;
    /* flex-direction: column; */
    /* margin: auto; */
    justify-content: center;
    width: 100%;
    align-items: center;
    /* margin-left: 37px; */
    z-index: -1;
}

.Logo2 {
    width: 600px;
    height: 600px;
    opacity: 0.3;
    border-radius: 0;
    animation: rotate 3s infinite;
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes rotate {
    0%, 50% {
        transform: rotate(-0deg);
    }
    0% {
        transform: rotate(-10deg);
        opacity: 0.8;
    }
}

.welcome-message {
    text-align: center;
}

.containerIn {
    display: flex;
    position: fixed;
    right: 0;
    background-color: #ebecf0;
    font-size: 14px;
    padding: 9px;
    align-items: baseline;
    border-radius: 0px 0px 0px 7px;
    -webkit-box-shadow: -11px 8px 20px 1px #9596981c;
}

.containerIn:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.iconsUser {
    margin: 0 10px;
    font-size: 12px;
}

.css-yk16xz-control {
    background-color: #f9f9f969 !important;
}

select {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: #717171;
    /* background-color: #f9f9f969 !important; */
}

.uploadNomina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    height: 50px;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);

}

.uploadNomina>button {
    background-color: #ff6a00;
    padding: 4px 5px 4px 10px;
    border-radius: 3px;
    margin-left: 7px;
    width: auto;
    color: white;
    transition: all 0.15s ease-in-out;
}

.uploadNomina>button:hover {
    background-color: #d45902;
}

.uploadNomina>button>svg {
    color: white;
    height: 18px;
}

.player{
    margin: auto;
}

.dashboard {
    height: 100vh;
    margin-left: 60px;
    padding-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.dashboard section {
    margin: 0 0 20px 0;
    border: 1px solid red;
    width: 48%;
    display: flex;
    flex-flow: column nowrap;

}

.dashboard section h2 {
    text-align: center;
}

.dashboard section article {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.dashboard section article h6 {
    padding: 10px 0;
    background-color: #ccc;
}

.dashboard section article span {
    padding: 5px;
    display: block;
    text-align: center;
}

.dashboard section article .multispan {
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.dashboard section article .multispan span {
    margin-right: 10px;
    background-color: royalblue;
    padding: 10px 5px;
}