.headerResultados {
    display: flex;
    background-color: #ffffff3d;
    flex-flow: row nowrap;
    -webkit-box-shadow: 0px 0px 6px 1px #9596981c;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headerResultados span {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
}

.grupos {}

.grupoPerfilamiento {
    padding: 10px;
    background-color: #ffffff3d;
    margin: 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 0px 6px 1px #9596981c;
    box-sizing: border-box;
}

.grupoPerfilamiento .acciones {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.grupoPerfilamiento .acciones input {
    width: 70%;
}

.grupoPerfilamiento .acciones label {
    position: unset;
    color: #000;
    font-size: 12px;
}

.grupoPerfilamiento .acciones label input {
    margin: 0 auto;
    display: block;
}

.grupoPerfilamiento .cuartilesAsignados {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
    min-height: 30px;
    border: 1px solid #e5e5e5;
}

.grupoPerfilamiento .cuartilesAsignados span {
    color: #fff;
    width: 200px;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 2px 10px 2px 0px;
}

.grupoPerfilamiento .cuartilesAsignados span p {
    margin: 0;
}

.grupoPerfilamiento .cuartilesAsignados span button {
    position: absolute;
    top: 0;
    right: 5px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.green {
    background-color: #91c191;
    border-radius: 3px;
}

.red {
    background-color: #e08988;
    border-radius: 3px;
}

.orange {
    background-color: #eaaa88;
    border-radius: 3px;
}

.yellow {
    background-color: #e6d077;
    border-radius: 3px;
}

.cuartiles {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    bottom: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.cuartiles .cuartil {
    background-color: #efefef;
    -webkit-box-shadow: 3px -2px 6px 1px #0000000d;
    width: 150px;
    padding: 5px;
    text-align: center;
}

.cuartil h5 {
    text-align: center;
}

.cuartil .buttonsContain button {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 5px;
    color: white;
}

.placeholder {
    background: rgb(255, 240, 120);
}

.placeholder::before {
    content: "Drop here";
    color: rgb(225, 210, 90);
}

.cuartiles-boton {
    right: 196px !important;
    height: 50px;
}

.perfilamientos {
    right: 141px !important;
    height: 49px;
}

.perfilamientos>svg, .cuartiles-boton>svg {
    color: #fff;
}