.uploadNomina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    height: 50px;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);

}

.uploadNomina>label {
    background-color: #ff6a00;
    padding: 4px 5px 4px 10px;
    border-radius: 3px;
    margin-left: 7px;
    width: auto;
    color: white;
    transition: all 0.15s ease-in-out;
}

.uploadNomina>label:hover {
    background-color: #d45902;
}

.uploadNomina>label>svg {
    color: white;
    height: 18px;
}
