.formsOfMonitorings section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px #9596981c;
}

.formsOfMonitorings section h6 {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.formsOfMonitorings {
    padding: 20px 0;
}

.formsOfMonitorings section article {
    width: 100%;
    min-height: unset;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: none;
    background-color: #ebecf0;

}

.conditionalCF {
    display: none;
}

.conditionalCF.active {
    display: block !important;
}

.formsOfMonitorings section article p {
    margin: 0;
}

.formsOfMonitorings section article span {
    display: block;
}



.formsOfMonitorings section article span label {
    margin-left: 5px;    
}