.welcome-message {
  text-align: center;
  padding: 15px;
  background: #ebebeb; 
}

.header {
  /* height: 90px; */
  width: 100%;
  position: inherit;
}

.salir {
  position: absolute;
  right: 0;
  padding: 10px;
}