.welcome-message {
  text-align: center;
  padding: 15px;
  background: #ebebeb;
}

.header {
  /* height: 90px; */
  width: 100%;
  position: inherit;
}

.salir {
  position: absolute;
  right: 0;
  padding: 10px;
}

.button-change-pass {
  padding: 10px;
  background: #eaebef;
  border-radius: 5px;
  color: #3e3e3e;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  right: 10px;
  /* position: absolute; */
  font-weight: 500;
  float: right;
  transition: 0.3s;
  min-width: 138px;
}

.button-change-pass:hover {
  background: #03a9f4;
  color: white;
}

.select-t {
  margin-top: 20px;
  margin-bottom: 20px;
}

.background-loading {
  width: 100%;
  height: 100vh !important;
  min-height: 100vh !important;
  background-color: black;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.confirmar {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#root {
  /* background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  background: linear-gradient(to right, #636FA4, #E8CBC0); */

}

.swal-modal{
  background-color: #ffffff !important;
  box-shadow: 0px 0px 34px 9px rgba(0,0,0,0.10);
}

.swal-overlay {
  background-color: transparent;
}

.selectWidth{
  width: 50% !important;
}
