.welcome-message {
  text-align: center;
  padding: 15px;
  background: #ebebeb;
}

.header {
  /* height: 90px; */
  width: 100%;
  position: inherit;
}

.salir {
  position: absolute;
  right: 0;
  padding: 10px;
}

.button-change-pass {
  padding: 10px;
  background: #03a9f4;
  border-radius: 5px;
  color: #ebebeb;
  cursor: pointer;
  right: 10px;
  /* position: absolute; */
  font-weight: 500;
  float: right;
  transition: 0.3s;
  min-width: 138px;
}

.button-change-pass:hover {
  background: #038fce;
}

.select-t {
  margin-top: 20px;
  margin-bottom: 20px;
}

.background-loading {
  width: 100%;
  height: 100vh !important;
  min-height: 100vh !important;
  background-color: black;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.confirmar {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#root {

}

.swal-modal{
  background-color: #ebebeb !important;
  border: 1px solid #dad9d9 !important;
 /* -webkit-box-shadow: 0px 0px 7px -6px #000000; */
}

.swal-overlay {
  background-color: transparent;
}
